
.detail{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detail .contenu{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.detail .contenu .image-formation{
    width: 40%;
    height: 45vh;
    background-image: url('../img/formation/DESIGN-1.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.detail .contenu .description{
    width: 50%;
    padding: 0 2%;
}
.detail .contenu .description div h3{
    width: 40%;
    margin: 0;
    color: orange;
}
.detail .contenu .description div ol{
    margin-top: 1%;
}
.detail .contenu .description .plus *{
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: orange;
}
.duree, .cible, .formateur{
    color: black !important;
}