:root{
    --boxOmbreOrange:  0 0 30px rgb(201, 130, 0);
    --boxOmbreNoir:  0 0 20px rgba(0, 0, 0, 0.497);

    --textOmbreOrange: 2px 2px 5px orange; 
    --textOmbreNoir: 2px 2px 5px rgb(0, 0, 0);


}
    #ajout{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .recherches{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;
        align-items: center;
    }
        .recherches .filtres{
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
                .recherches .filtres .filtre{
                    width: 10%;
                    padding: 1%;
                    margin: 0% 1%;
                    text-align: center;
                    text-wrap: no;
                    border: none;
                    margin-top: 1%;
                    border-radius: 50px;
                    box-shadow: var(--boxOmbreNoir);
                    transition: box-shadow 1.5s;
                }
                .recherches .filtres .filtre:hover{
                    box-shadow: var(--boxOmbreOrange);
                }
                .recherches .filtres .filtre:last-child{
                    width: auto !important;
                    padding: 1% 2.2%;
                }

        .recherches #recherche{
            width: 30%;
            height: 8vh;
            border: 1px solid rgba(0, 0, 0, 0.274);
            border-radius: 8px;
            margin-top: 2%;
            padding: 0;
            overflow: hidden;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
            
        }
            #recherche *{
                height: 100%;
                padding: 0;
                
            }
            #recherche input:first-child{
                width: 100%;
                padding-left: 4%;
                font-size: 1.2rem;
            }
            #recherche input:last-child{
                width: 20%;
                background-color: rgba(0, 0, 0, 0.937);
                font-size: 1.5rem;
                transition: font-size 1s, background-color 1.5s;
                
            }
                #recherche input:last-child:hover{
                    background-color: orange;
                    font-size: 1.8rem;

                }
/* Ajouter Filtre */
    #ajouter{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        display: none;
        justify-content: center;
        position: fixed ;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 999;
    }
    #ajouter.active{
        display: flex;
    }

        #ajouter .groupe{
            width: 20%;
            height: 15%;
            padding: 1.5%;
            margin-top: 10%;
            border: none;
            border-radius: 10px;
            box-shadow: var(--boxOmbreNoir);
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
        }
            #ajouter .groupe label{
                width: 100%;
                height: 20%;
            }
            #ajouter .groupe input{
                width: 94%;
                height: 40%;
                border: 1px solid black;
                margin: 3% 0;
                border-radius: 12px;
                padding-left: 5%;
            }
            #ajouter .groupe input:focus{
                border: 1px solid orange;
            }
            #ajouter .groupe button{
                width: 20%;
                height: 25%;
                padding: 2%;
                border: none;
                border-radius: 10px;
                background-color: black;
                color: white;
                transition: background-color 1s;
            }
            #ajouter .groupe button:hover{
                background-color: orange;
            }


/* Image face carte */
.formation .contenu .cartes .carte-repere:nth-child(1) .carte .devant {
    background-image: url('../img/formation/DESIGN-1.webp');
}
.formation .contenu .cartes .carte-repere:nth-child(2) .carte  .devant {
    background-image: url('../img/formation/HTML-CSS-JS-5.jpg');
}
.formation .contenu .cartes .carte-repere:nth-child(3) .carte  .devant {
    background-image: url('../img/formation/PAO-2.jpg');
}
.formation .contenu .cartes .carte-repere:nth-child(4) .carte  .devant {
    background-image: url('../img/formation/BACK-END-1.jpg');
}
.formation .contenu .cartes .carte-repere:nth-child(5) .carte  .devant {
    background-image: url('../img/formation/WEB-DESIGN-1.jpg');
}
.formation .contenu .cartes .carte-repere:nth-child(6) .carte  .devant {
    background-image: url('../img/formation/FULL-STACK-1.jpg');
}
.formation .contenu .cartes .carte-repere:nth-child(7) .carte  .devant {
    background-image: url('../img/formation/HTML-CSS-JS-3.png');
}.formation .contenu .cartes .carte-repere:nth-child(8) .carte  .devant {

    background-image: url('../img/formation/PAO-6.webp');
}

.formation .contenu a{
    transition: font-weight .8s, color .8s;
}
.formation .contenu a:hover{
    font-weight: 400;
}
.formation .contenu .active{
    color: orange;
    text-decoration: underline;
}